documentation/dahprojects.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>ODD file for the Digital Art History Projects Directory</title>
         </titleStmt>
         <publicationStmt>
            <publisher>Ouvroir d’histoire de l’art et de muséologie numérique</publisher>
            <date from="2022-06">Since June 2022</date>
         </publicationStmt>
         <sourceDesc>
            <p>Natively digital</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <schemaSpec ident="oddbyexample" start="TEI ">
            <moduleRef key="tei"/>
            <!--Checking module textcrit-->
            <classRef key="att.textCritical"/>
            <classRef key="model.rdgLike"/>
            <classRef key="model.rdgPart"/>
            <classSpec ident="att.textCritical" type="atts" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="varSeq" mode="delete"/>
                  <attDef ident="require" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module namesdates-->
            <classRef key="model.persNamePart"/>
            <moduleRef key="namesdates" include="orgName persName surname forename placeName"/>
            <elementSpec ident="orgName" mode="change">
               <attList>
                  <attDef ident="full" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="yes"/>
                        <valItem ident="abbrevation"/>
                        <valItem ident="initial"/>
                     </valList>
                  </attDef>
                  <attDef ident="when-custom" mode="delete"/>
                  <attDef ident="notBefore-custom" mode="delete"/>
                  <attDef ident="notAfter-custom" mode="delete"/>
                  <attDef ident="from-custom" mode="delete"/>
                  <attDef ident="to-custom" mode="delete"/>
                  <attDef ident="datingPoint" mode="delete"/>
                  <attDef ident="datingMethod" mode="delete"/>
                  <attDef ident="when-iso" mode="delete"/>
                  <attDef ident="notBefore-iso" mode="delete"/>
                  <attDef ident="notAfter-iso" mode="delete"/>
                  <attDef ident="from-iso" mode="delete"/>
                  <attDef ident="to-iso" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="change" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="instant" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="persName" mode="change">
               <classes mode="change">
                  <memberOf key="att.editLike" mode="delete"/>
               </classes>
               <content>
                  <sequence preserveOrder="true">
                     <elementRef key="forename" minOccurs="0" maxOccurs="2"/>
                     <elementRef key="surname" minOccurs="0" maxOccurs="2"/>
                     <textNode/>
                  </sequence>
               </content>
               <attList>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
                  <attDef ident="full" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="yes"/>
                     </valList>
                  </attDef>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
                  <attDef ident="notBefore-custom" mode="delete"/>
                  <attDef ident="notAfter-custom" mode="delete"/>
                  <attDef ident="from-custom" mode="delete"/>
                  <attDef ident="to-custom" mode="delete"/>
                  <attDef ident="datingPoint" mode="delete"/>
                  <attDef ident="datingMethod" mode="delete"/>
                  <attDef ident="when-iso" mode="delete"/>
                  <attDef ident="notBefore-iso" mode="delete"/>
                  <attDef ident="notAfter-iso" mode="delete"/>
                  <attDef ident="from-iso" mode="delete"/>
                  <attDef ident="to-iso" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="change" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="surname" mode="change">
               <attList>
                  <attDef ident="full" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
                  <attDef ident="notBefore-custom" mode="delete"/>
                  <attDef ident="notAfter-custom" mode="delete"/>
                  <attDef ident="from-custom" mode="delete"/>
                  <attDef ident="to-custom" mode="delete"/>
                  <attDef ident="datingPoint" mode="delete"/>
                  <attDef ident="datingMethod" mode="delete"/>
                  <attDef ident="when-iso" mode="delete"/>
                  <attDef ident="notBefore-iso" mode="delete"/>
                  <attDef ident="notAfter-iso" mode="delete"/>
                  <attDef ident="from-iso" mode="delete"/>
                  <attDef ident="to-iso" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="change" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="forename" mode="change">
               <attList>
                  <attDef ident="full" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
                  <attDef ident="notBefore-custom" mode="delete"/>
                  <attDef ident="notAfter-custom" mode="delete"/>
                  <attDef ident="from-custom" mode="delete"/>
                  <attDef ident="to-custom" mode="delete"/>
                  <attDef ident="datingPoint" mode="delete"/>
                  <attDef ident="datingMethod" mode="delete"/>
                  <attDef ident="when-iso" mode="delete"/>
                  <attDef ident="notBefore-iso" mode="delete"/>
                  <attDef ident="notAfter-iso" mode="delete"/>
                  <attDef ident="from-iso" mode="delete"/>
                  <attDef ident="to-iso" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="change" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="placeName" mode="change">
               <attList>
                  <attDef ident="full" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
                  <attDef ident="notBefore-custom" mode="delete"/>
                  <attDef ident="notAfter-custom" mode="delete"/>
                  <attDef ident="from-custom" mode="delete"/>
                  <attDef ident="to-custom" mode="delete"/>
                  <attDef ident="datingPoint" mode="delete"/>
                  <attDef ident="datingMethod" mode="delete"/>
                  <attDef ident="when-iso" mode="delete"/>
                  <attDef ident="notBefore-iso" mode="delete"/>
                  <attDef ident="notAfter-iso" mode="delete"/>
                  <attDef ident="from-iso" mode="delete"/>
                  <attDef ident="to-iso" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="change" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module dictionaries-->
            <classRef key="att.lexicographic"/>
            <classRef key="model.entryLike"/>
            <classRef key="model.formPart"/>
            <classRef key="model.gramPart"/>
            <classRef key="model.lexicalRefinement"/>
            <classRef key="model.morphLike"/>
            <classRef key="model.ptrLike.form"/>
            <classSpec ident="att.lexicographic" type="atts" mode="change">
               <attList>
                  <attDef ident="expand" mode="delete"/>
                  <attDef ident="split" mode="delete"/>
                  <attDef ident="value" mode="delete"/>
                  <attDef ident="location" mode="delete"/>
                  <attDef ident="mergedIn" mode="delete"/>
                  <attDef ident="opt" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module tagdocs-->
            <classRef key="att.combinable"/>
            <classRef key="att.identified"/>
            <classRef key="model.contentPart"/>
            <moduleRef key="tagdocs"
               include="classRef moduleRef schemaSpec elementSpec classSpec attList attDef valItem valList"/>
            <elementSpec ident="classRef" mode="change">
               <attList>
                  <attDef ident="expand" mode="delete"/>
                  <attDef ident="include" mode="delete"/>
                  <attDef ident="except" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="moduleRef" mode="change">
               <attList>
                  <attDef ident="prefix" mode="delete"/>
                  <attDef ident="except" mode="delete"/>
                  <attDef ident="url" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="schemaSpec" mode="change">
               <attList>
                  <attDef ident="prefix" mode="delete"/>
                  <attDef ident="targetLang" mode="delete"/>
                  <attDef ident="docLang" mode="delete"/>
                  <attDef ident="defaultExceptions" mode="delete"/>
                  <attDef ident="mode" mode="delete"/>
                  <attDef ident="status" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="elementSpec" mode="change">
               <attList>
                  <attDef ident="prefix" mode="delete"/>
                  <attDef ident="mode" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="change"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="classSpec" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="atts"/>
                     </valList>
                  </attDef>
                  <attDef ident="generate" mode="delete"/>
                  <attDef ident="mode" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="change"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="atts"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="attList" mode="change">
               <attList>
                  <attDef ident="org" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="attDef" mode="change">
               <attList>
                  <attDef ident="usage" mode="delete"/>
                  <attDef ident="ns" mode="delete"/>
                  <attDef ident="mode" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="add"/>
                        <valItem ident="change"/>
                        <valItem ident="delete"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="valItem" mode="change">
               <attList>
                  <attDef ident="mode" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="valList" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="closed"/>
                        <valItem ident="open"/>
                     </valList>
                  </attDef>
                  <attDef ident="mode" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="add"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <classSpec ident="att.identified" type="atts" mode="change">
               <attList>
                  <attDef ident="predeclare" mode="delete"/>
                  <attDef ident="module" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.anchoring" type="atts" mode="change">
               <attList>
                  <attDef ident="targetEnd" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.ascribed.directed" type="atts" mode="change">
               <attList>
                  <attDef ident="toWhom" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.canonical" type="atts" mode="change">
               <attList>
                  <attDef ident="key" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.dimensions" type="atts" mode="change">
               <attList>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="precision" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.damaged" type="atts" mode="change">
               <attList>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="degree" mode="delete"/>
                  <attDef ident="group" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable.w3c" type="atts" mode="change">
               <attList>
                  <attDef ident="notBefore" mode="delete"/>
                  <attDef ident="notAfter" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable" type="atts" mode="change">
               <attList>
                  <attDef ident="calendar" mode="delete"/>
                  <attDef ident="period" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.divLike" type="atts" mode="change">
               <attList>
                  <attDef ident="org" mode="delete"/>
                  <attDef ident="sample" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.editLike" type="atts" mode="change">
               <attList>
                  <attDef ident="evidence" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.media" type="atts" mode="change">
               <attList>
                  <attDef ident="width" mode="delete"/>
                  <attDef ident="height" mode="delete"/>
                  <attDef ident="scale" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.naming" type="atts" mode="change">
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="nymRef" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.typed" type="atts" mode="change">
               <attList>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing" type="atts" mode="change">
               <attList>
                  <attDef ident="targetLang" mode="delete"/>
                  <attDef ident="evaluate" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing.group" type="atts" mode="change">
               <attList>
                  <attDef ident="domains" mode="delete"/>
                  <attDef ident="targFunc" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.segLike" type="atts" mode="change">
               <attList>
                  <attDef ident="function" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.timed" type="atts" mode="change">
               <attList>
                  <attDef ident="start" mode="delete"/>
                  <attDef ident="end" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.transcriptional" type="atts" mode="change">
               <attList>
                  <attDef ident="status" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="seq" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.personal" type="atts" mode="change">
               <attList>
                  <attDef ident="sort" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module core-->
            <moduleRef key="core"
               include="p hi quote term date ref head note analytic monogr author editor respStmt resp title imprint publisher biblScope pubPlace bibl biblStruct listBibl keywords"/>
            <elementSpec ident="keywords" mode="add" module="core">
               <classes>
                  <!--  <memberOf key="model.inter"></memberOf>-->
                  <memberOf key="att.global.attributes"/>
                  <memberOf key="model.biblLike_sequenceRepeatable"/>
               </classes>
               <content>
                  <textNode/>
               </content>
            </elementSpec>
            <elementSpec ident="p" mode="change">
               <attList>
                  <attDef ident="part" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="N"/>
                     </valList>
                  </attDef>
                  <attDef ident="full" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
                  <attDef ident="notBefore-custom" mode="delete"/>
                  <attDef ident="notAfter-custom" mode="delete"/>
                  <attDef ident="from-custom" mode="delete"/>
                  <attDef ident="to-custom" mode="delete"/>
                  <attDef ident="datingPoint" mode="delete"/>
                  <attDef ident="datingMethod" mode="delete"/>
                  <attDef ident="when-iso" mode="delete"/>
                  <attDef ident="notBefore-iso" mode="delete"/>
                  <attDef ident="notAfter-iso" mode="delete"/>
                  <attDef ident="from-iso" mode="delete"/>
                  <attDef ident="to-iso" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="change" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
                  <attDef ident="decls" mode="delete"/>
                  <attDef ident="part" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="quote" mode="change">
               <attList>
                  <attDef ident="full" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
                  <attDef ident="notBefore-custom" mode="delete"/>
                  <attDef ident="notAfter-custom" mode="delete"/>
                  <attDef ident="from-custom" mode="delete"/>
                  <attDef ident="to-custom" mode="delete"/>
                  <attDef ident="datingPoint" mode="delete"/>
                  <attDef ident="datingMethod" mode="delete"/>
                  <attDef ident="when-iso" mode="delete"/>
                  <attDef ident="notBefore-iso" mode="delete"/>
                  <attDef ident="notAfter-iso" mode="delete"/>
                  <attDef ident="from-iso" mode="delete"/>
                  <attDef ident="to-iso" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="change" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="notation" mode="delete"/>
               </attList>
            </elementSpec>
            <!-- VOIR ICI -->
            <elementSpec ident="term" mode="change">
               <attList>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>

            <elementSpec ident="date" mode="change">
               <attList>
                  <attDef ident="full" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="change" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="atLeast" mode="delete"/>
                  <attDef ident="atMost" mode="delete"/>
                  <attDef ident="confidence" mode="delete"/>
                  <attDef ident="instant" mode="delete"/>
                  <attDef ident="max" mode="delete"/>
                  <attDef ident="min" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="ref" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="open">
                        <valItem ident="url"/>
                     </valList>
                  </attDef>
                  <attDef ident="full" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
                  <attDef ident="notBefore-custom" mode="delete"/>
                  <attDef ident="notAfter-custom" mode="delete"/>
                  <attDef ident="from-custom" mode="delete"/>
                  <attDef ident="to-custom" mode="delete"/>
                  <attDef ident="datingPoint" mode="delete"/>
                  <attDef ident="datingMethod" mode="delete"/>
                  <attDef ident="when-iso" mode="delete"/>
                  <attDef ident="notBefore-iso" mode="delete"/>
                  <attDef ident="notAfter-iso" mode="delete"/>
                  <attDef ident="from-iso" mode="delete"/>
                  <attDef ident="to-iso" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
                  <attDef ident="ana" mode="delete"/>
                  <attDef ident="change" mode="delete"/>
                  <attDef ident="facs" mode="delete"/>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="cRef" mode="delete"/>
                  <attDef ident="decls" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="head" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="full" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="place" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="note" mode="change">
               <attList>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="abstract"/>
                        <valItem ident="biblio"/>
                        <valItem ident="licence"/>
                     </valList>
                  </attDef>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="place" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="anchored" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="author" mode="change">
               <content>
                  <elementRef key="persName" minOccurs="1" maxOccurs="unbounded"/>
               </content>
               <attList>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="datingMethod" mode="delete"/>
                  <attDef ident="datingPoint" mode="delete"/>
                  <attDef ident="when-iso" mode="delete"/>
                  <attDef ident="notBefore-iso" mode="delete"/>
                  <attDef ident="notAfter-iso" mode="delete"/>
                  <attDef ident="from-iso" mode="delete"/>
                  <attDef ident="to-iso" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
                  <attDef ident="notBefore-custom" mode="delete"/>
                  <attDef ident="notAfter-custom" mode="delete"/>
                  <attDef ident="from-custom" mode="delete"/>
                  <attDef ident="to-custom" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="editor" mode="change">
               <content>
                  <elementRef key="persName" minOccurs="1" maxOccurs="unbounded"/>
                  <elementRef key="orgName" minOccurs="0" maxOccurs="unbounded"/>
               </content>
               <attList>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="datingMethod" mode="delete"/>
                  <attDef ident="datingPoint" mode="delete"/>
                  <attDef ident="when-iso" mode="delete"/>
                  <attDef ident="notBefore-iso" mode="delete"/>
                  <attDef ident="notAfter-iso" mode="delete"/>
                  <attDef ident="from-iso" mode="delete"/>
                  <attDef ident="to-iso" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
                  <attDef ident="notBefore-custom" mode="delete"/>
                  <attDef ident="notAfter-custom" mode="delete"/>
                  <attDef ident="from-custom" mode="delete"/>
                  <attDef ident="to-custom" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="respStmt" mode="change">
               <!-- VOIR ICI -->
               <!--<content>
                  <elementRef key="resp" minOccurs="0" maxOccurs="unbounded"/>
                  <anyElement/>
                  <elementRef key="orgName" minOccurs="0" maxOccurs="unbounded"/>
                     <elementRef key="persName" minOccurs="0" maxOccurs="unbounded"/>
               </content>-->
               <attList>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="datingMethod" mode="delete"/>
                  <attDef ident="datingPoint" mode="delete"/>
                  <attDef ident="when-iso" mode="delete"/>
                  <attDef ident="notBefore-iso" mode="delete"/>
                  <attDef ident="notAfter-iso" mode="delete"/>
                  <attDef ident="from-iso" mode="delete"/>
                  <attDef ident="to-iso" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
                  <attDef ident="notBefore-custom" mode="delete"/>
                  <attDef ident="notAfter-custom" mode="delete"/>
                  <attDef ident="from-custom" mode="delete"/>
                  <attDef ident="to-custom" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="resp" mode="change">
               <attList>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="datingMethod" mode="delete"/>
                  <attDef ident="datingPoint" mode="delete"/>
                  <attDef ident="when-iso" mode="delete"/>
                  <attDef ident="notBefore-iso" mode="delete"/>
                  <attDef ident="notAfter-iso" mode="delete"/>
                  <attDef ident="from-iso" mode="delete"/>
                  <attDef ident="to-iso" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
                  <attDef ident="notBefore-custom" mode="delete"/>
                  <attDef ident="notAfter-custom" mode="delete"/>
                  <attDef ident="from-custom" mode="delete"/>
                  <attDef ident="to-custom" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="title" mode="change">
               <attList>
                  <attDef ident="level" mode="delete"/>
                  <attDef ident="type" mode="change" usage="rec">
                     <valList mode="add" type="closed">
                        <valItem ident="a"/>
                        <valItem ident="j"/>
                        <valItem ident="m"/>
                        <valItem ident="main"/>
                        <valItem ident="short"/>
                        <valItem ident="sub"/>
                     </valList>
                  </attDef>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="datingMethod" mode="delete"/>
                  <attDef ident="datingPoint" mode="delete"/>
                  <attDef ident="when-iso" mode="delete"/>
                  <attDef ident="notBefore-iso" mode="delete"/>
                  <attDef ident="notAfter-iso" mode="delete"/>
                  <attDef ident="from-iso" mode="delete"/>
                  <attDef ident="to-iso" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
                  <attDef ident="notBefore-custom" mode="delete"/>
                  <attDef ident="notAfter-custom" mode="delete"/>
                  <attDef ident="from-custom" mode="delete"/>
                  <attDef ident="to-custom" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="biblScope" mode="change">
               <attList>
                  <attDef ident="unit" mode="change" usage="req">
                     <valList mode="add" type="closed">
                        <valItem ident="volume"/>
                        <valItem ident="issue"/>
                        <valItem ident="page"/>
                     </valList>
                  </attDef>
                  <attDef ident="n" mode="change" usage="rec"/>
                  <attDef ident="from" mode="change" usage="rec"/>
                  <attDef ident="to" mode="change" usage="rec"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="datingMethod" mode="delete"/>
                  <attDef ident="datingPoint" mode="delete"/>
                  <attDef ident="when-iso" mode="delete"/>
                  <attDef ident="notBefore-iso" mode="delete"/>
                  <attDef ident="notAfter-iso" mode="delete"/>
                  <attDef ident="from-iso" mode="delete"/>
                  <attDef ident="to-iso" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
                  <attDef ident="notBefore-custom" mode="delete"/>
                  <attDef ident="notAfter-custom" mode="delete"/>
                  <attDef ident="from-custom" mode="delete"/>
                  <attDef ident="to-custom" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="pubPlace" mode="change">
               <attList>
                  <attDef ident="type" mode="change"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="datingMethod" mode="delete"/>
                  <attDef ident="datingPoint" mode="delete"/>
                  <attDef ident="when-iso" mode="delete"/>
                  <attDef ident="notBefore-iso" mode="delete"/>
                  <attDef ident="notAfter-iso" mode="delete"/>
                  <attDef ident="from-iso" mode="delete"/>
                  <attDef ident="to-iso" mode="delete"/>
                  <attDef ident="when-custom" mode="delete"/>
                  <attDef ident="notBefore-custom" mode="delete"/>
                  <attDef ident="notAfter-custom" mode="delete"/>
                  <attDef ident="from-custom" mode="delete"/>
                  <attDef ident="to-custom" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="bibl" mode="change">
               <!-- VOIR ICI -->
               <attList>
                  <attDef ident="default" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="status" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="biblStruct" mode="change">
               <content>
                  <sequence preserveOrder="true">
                     <elementRef key="analytic" minOccurs="0" maxOccurs="1"/>
                     <elementRef key="monogr" minOccurs="0" maxOccurs="1"/>
                     <elementRef key="ref" minOccurs="0" maxOccurs="unbounded"/>
                  </sequence>
               </content>
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="status" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="draft"/>
                     </valList>
                  </attDef>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="default" mode="delete"/>
                  <attDef ident="sortKey" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="listBibl" mode="change">
               <content>
                  <sequence preserveOrder="true">
                     <elementRef key="head" minOccurs="1"/>
                     <elementRef key="biblFull" minOccurs="1" maxOccurs="unbounded"/>
                  </sequence>
               </content>
               <attList>
                  <attDef ident="default" mode="change"/>
                  <attDef ident="n" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="xml:space" mode="delete"/>
                  <attDef ident="xml:base" mode="delete"/>
                  <attDef ident="xml:lang" mode="delete"/>
                  <attDef ident="xml:id" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="rend" mode="delete"/>
                  <attDef ident="cert" mode="delete"/>
                  <attDef ident="rendition" mode="delete"/>
                  <attDef ident="style" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="resp" mode="delete"/>
                  <attDef ident="sortKey" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module header-->
            <moduleRef key="header"
               include="teiHeader fileDesc titleStmt sponsor funder principal publicationStmt authority idno notesStmt sourceDesc biblFull encodingDesc projectDesc classDecl taxonomy category keywords"/>
            <elementSpec ident="sponsor" mode="change">
               <attList>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="funder" mode="change">
               <attList>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="principal" mode="change">
               <attList>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="authority" mode="change">
               <attList>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="idno" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="brokenLink"/>
                        <valItem ident="url"/>
                     </valList>
                  </attDef>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="brokenLink"/>
                        <valItem ident="url"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="sourceDesc" mode="change">
               <attList>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="biblFull" mode="change">
               <attList>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
                  <attDef ident="status" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="draft"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="projectDesc" mode="change">
               <attList>
                  <attDef ident="default" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module gaiji-->
            <!--Checking module verse-->
            <!--Checking module transcr-->
            <!--Checking module linking-->
            <!--Checking module analysis-->
            <classRef key="att.linguistic"/>
            <classSpec ident="att.linguistic" type="atts" mode="change">
               <attList>
                  <attDef ident="lemma" mode="delete"/>
                  <attDef ident="lemmaRef" mode="delete"/>
                  <attDef ident="pos" mode="delete"/>
                  <attDef ident="msd" mode="delete"/>
                  <attDef ident="join" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module textstructure-->
            <moduleRef key="textstructure" include="TEI text body"/>
            <elementSpec ident="TEI" mode="change">
               <attList>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="text" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
         </schemaSpec>
      </body>
   </text>
</TEI>
